:root{
    --light-green: #24C985;
    --light-green-darker: #19AC90;
    --dark-green: #02353c;
    --dark-green-lighter: #044a54;
    --white: #fffafa;
    --gray: #7c7c7c;
}
*{
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-green);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-size: 4vw;
    font-weight: bold;
    padding: 0.5vh 0vh;
}
h2 {
    font-size: 2.5vw;
    padding: 0.5vh 0vh;
}

p{
    font-size: 2.5vh;
}

button{
    padding: 8px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--white);
    box-shadow: #414141 0px 0px 5px;
    font-size: 2vh;
    font-weight: bold;
}

.button-dark:hover{
    background-color: var(--dark-green-lighter);
}

.button-dark{
    background-color: var(--dark-green);
}

.button-light:hover{
    background-color: var(--light-green-darker);
}

.button-light{
    background-color: var(--light-green);
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 3%;
    background-color: var(--light-green);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    width: 100px;
    height: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

.nav__links li a:hover {
    color: var(--dark-green-lighter);
}



.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 35px;
    height: 6px;
    margin: 5px 0;
    transition: all 0.3s ease;
    border-radius: 5px;
    background-color: var(--dark-green);
    box-shadow: #414141 0px 0px 5px;
}

@media(max-width: 802px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(11px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-11px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        background-color: var(--light-green);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .logo{
        display: none;
    }

    .nav__links li{
        margin: 16px 0;
        display: block;
    }

    .nav-menu.active{
        left: 0;
    }

}

/*Home*/

.home-container{
    padding-top: 170px;
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--light-green) 20%, var(--light-green-darker) 100%);

}

.home-text-img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.home-container{
    align-items: center;
}

.home-text-container{
    padding-right: 5px;
    padding-left: 5px;
}

.home-image-container{
    display: flex;
    justify-content: center;
    width: 40%;

}
.home-image-container img{
    width: 90%;
    min-width: 200px;
    height: auto;
    padding-top: 20px;
}

#learn-more:hover{
    text-decoration: underline;
}

.arrow{
    display: flex;
    justify-content: center;

}

.arrow a svg{
    max-width: 200px;
    height: auto;
    margin: 30px;

}


@media(max-width: 580px) {
    #home .home-text-img-container .home-text-container h1 {
        font-size: 26px;
    }

    #home .home-text-img-container .home-text-container h2 {
        font-size: 16px;
    }

    .home-container {
        padding-top: 70px;

    }
}
/*Project section*/
.Project-container{
    margin: 10vh 0;
}

.Project-container h1{
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}

.Projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.Project{
    margin: 15px 30px;
    padding: 10px;
    width: 60vh;
    height: auto;
}

.Project img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: var(--gray) 0 0 10px;
    transition: all 0.3s ease 0s;
}
.Project img:hover{
    box-shadow: var(--gray) 0 0 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

@media(max-width: 1200px){
    .Project-container h1{
        font-size: 50px;
    }
}
/*Modal*/

.modal-container{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    display: none;

}

.modal-container.show{
    display: flex;
    align-items: center;
    justify-content: center;
}

.X{
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: right;
    font-size: 3vh;
}

.modal{
    background-color: var(--dark-green);
    width: 1000px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 25px;
    overflow: auto;
    max-height: 100%;
}
.modal h1, .modal p{
    color: var(--white);
    display: flex;
    align-items: center;
}

.modal-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.modal-row > *{
    padding: 10px;
}

.modal-row h1{
    font-size: 60px;
}

.modal-button{
    display: flex;
    justify-content: center;

}
.modal-language{
    display: flex;
    align-items: center;
}
.modal-button svg{
    transform: scale(0.7);
}
.modal-language svg{
    transform: scale(0.8);
}

.modal-button svg:hover{
    cursor: pointer;
}

.modal-row div {
    display: flex;
    justify-content: center;

}
.modal-row img {
    width: 500px;
    max-width: 100%;
    height: auto;
}

@media(max-width: 700px){

    .modal-row h1{
        font-size: 40px;
    }
    .modal-row p{
        font-size: 13px;
    }
}




/*About me*/

.about-me-container {
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--light-green) 20%, var(--light-green-darker) 100%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.about-me-text-container{
    width: 50%;
    padding: 40px;
}

.about-me-text-container p{
    padding: 10px 0;
}

.about-me-text-container h1{
    padding: 10px 0;
}


.about-me-image-container{
    padding: 0 40px 0 40px;
}

.about-me-image-container img{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 100%;
}

@media (max-width: 1060px) {
    .about-me-text-container{
        width: 100%;
        padding: 40px;
    }

    .about-me-text-container h1{
        font-size: 40px;
    }
}

/*Experience*/

.experience-container{
    margin: 20px;
}

.experience-container h1{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.language-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

@media (min-width: 1539px) {
    .language-container{
        padding: 0 200px;
    }
}

.language{
    padding: 10px;
    width: 500px;
    height: auto;
}

.language svg g text{
    font-size: 32px;

}

@media (max-width: 1039px) {
    .experience-container h1{
        font-size: 47px;
    }

    .language svg{
        padding: 20px 0;
    }
}
/*Contact form*/
.contact-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--light-green) 20%, var(--light-green-darker) 100%);
}

.contact-form{
    width: 50%;
    padding: 20px;
    background: var(--dark-green);
    border-radius: 25px;
}

@media (max-width: 680px) {
    .contact-form{
        width: 80%;
    }
}

.contact-form h1{
    color: var(--white);
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-form .row-100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.contact-form .row-100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

@media (max-width: 750px) {
    .contact-form .row-100 .col{
        width: 95%;
    }
}

@media (max-width: 700px) {
    .contact-form .row-100 .col{
        width: 90%;
    }
}
@media (max-width: 455px) {
    .contact-form .row-100 .col{
        width: 85%;
    }
}
@media (max-width: 415px) {
    .contact-form .row-100 .col{
        width: 75%;
    }
}

.contact-form .row-100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--white);
}
.contact-form .row-100 .inputBox input, .contact-form .row-100 .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: var(--dark-green);
    border-radius: 10px;
}

.contact-form .row-100 .inputBox .contact-text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
    color: var(--dark-green);
    z-index: 1;
}

.contact-form .row-100 .inputBox input:focus + .contact-text, .contact-form .row-100 .inputBox input:valid + .contact-text{
    top: -35px;
    left: -10px;
    transition: 0.5s ease;
    color: var(--white);
}

.contact-form .row-100 .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 5px 0;
}

.contact-form .row-100 .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}

.contact-form .row-100 .inputBox.textarea textarea:focus + .contact-text, .contact-form .row-100 .inputBox.textarea textarea:valid + .contact-text{
    top: -35px;
    left: -10px;
    transition: 0.3s ease;
    color: var(--white);
}

/*footer*/
.footer{
    padding: 30px;
    background-color: var(--dark-green);
}

.footer-item{
    font-size: 2vw;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 30px;
}

.footer-social:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .footer-item{
        font-size: 20px;
    }
}
